

.article{
    height: calc(100vh - 60px);
    background-color: #020302;
    position: relative;
    overflow: hidden;
   // margin-top: 60px;
   //background-image: url('../img/programming_small.jpg');  
   background-image: url('../img/programming.jpg'); 
   background-size: cover;

   @media (min-wdith:700px) {
       
   }
    

    &__video{
       // display: block;
        
        height: 100%;
       // margin: 0 auto;
        filter: brightness(0.3);
    }

    &__content{
        position: absolute;
        top: 43%;
        left: 7%;
        z-index: 1;
        color: white;
    }

    &__text{
        display: block;
        text-transform: capitalize;
       
        font-size: 1.2rem;
        letter-spacing: .4px;
        margin-top: 25px;
    }

    &__title{
        font-size: 3rem;
        font-weight: bold;
        line-height: 4rem;

        &-important{
            color: #FBD214;
            display: block;
        }
    }

    

    &__btn{
        background-color: transparent;
        margin: 25px 0;
        color: white;
        border: none;
        background-color: #FBD214;
        padding: 15px 20px;
        font-size: 0.9rem;
        cursor: pointer;
        transition: all .3s ease-in-out;
        letter-spacing: .3px;
        font-weight: bold;
        border: 1px solid transparent;

        &:hover{
            background-color: transparent;
            border-color: #FBD214;
        }
    }
}