@mixin title-style {
    text-align: center;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before{
                content: "";
                width: 30px;
                height: 3px;
                background-color:  #FBD214;
                z-index: 2;
                margin-right: 15px;
            }
}